*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  width: 100vw;
  height: 100vh;
}
.container{
  width: 100vw;
  height: 100vh;
  background-color: white;
}
.holder{
  width:100vw;
  height: 90vh;
  display: flex;
  /* background-color: aqua; */
}
.center{
  width:80vw;
  height: 90vh;
}